.app {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  color: #000;
  background: #14398f;
  padding-top: 3px;
  height: 100vh;
}

.image {
  z-index: 2;
}

.item {
  z-index: 2;
}

.header {
  color: #000;
  z-index: 2;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  position: relative;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
