.app {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  color: #000;
  padding-top: 3px;
}

.image {
  z-index: 2;
}

.header {
  color: #000;
  z-index: 2;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  position: relative;
}
