.container {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 0px 50px;
  font-size: 1.7rem;
}

.column li {
  padding-bottom: 5px;
}
